
<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="f" uri="http://java.sun.com/jsp/jstl/functions"%> -->

<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- CSSの読み込み -->
<!-- link rel=stylesheet type="text/css" href="css/reset.css"-->
<!-- link rel=stylesheet type="text/css" href="css/style.css"-->
<title>検索</title>
</head>
<body>
<!-- div class="loginInfo">ログイン者：${ sessionScope.LOGIN_EMP.nmEmployee }</div> -->
<div id="main">
    <h1>ユーザー検索</h1>
    <c:if test="${errMsg != null}">
        <div class="msgBoxerror">
            <c:forEach items="${ errMsg }" var="errList">
                <c:out value="${errList}" />
            </c:forEach>
        </div>
    </c:if>
    <form action="BookSelectAction" method="post">
        <div class="search-contents">
            <table>
                <tr>
                    <td><h2>ユーザー名で検索</h2></td>
                <tr>
                <tr>
                    <td><input type=text name="nm_book"></td>
                </tr>
                <tr>
                    <td><h2>ID名で検索</h2></td>
                </tr>
                <tr>
                    <td><input type=text name="author"></td>
                </tr>

            </table>
        </div>
        <div class="btnArea">
            <input id="menu-btn" type="button" value="メニューに戻る"
                onclick="location.href='menu.jsp'"
                onMouseOver="changeColor(this.id)"
                onMouseOut="revertColor(this.id)" />
                <input id="search"
                type="submit" value="検索" onMouseOver="changeColor(this.id)"
                onMouseOut="revertColor(this.id)" />
        </div>
    </form>
</div>
<div class="logo">
    <!-- <img src="img/logo.gif" alt="ロゴ"> -->
</div>
<script type="text/javascript" src="js/jsFile.js"></script>
</body>
</html>